* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
}



.navbar {
  background-color: #2c3e50;
  padding: 20px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar h2 {
  color: white;
  font-size: 24px;
}

.navbar a {
  color: white;
  text-decoration: none;
  margin-left: 25px;
  font-weight: bold;
}



section {
  padding: 80px 0;
  text-align: center;
  margin-bottom: 0;
}

.title {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 20px;
}



.star {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

.star::before,
.star::after {
  content: "";
  width: 100px;
  height: 4px;
  background-color: currentColor;
  margin: 0 15px;
}



.home {
  background-color: #1abc9c;
  color: white;
}

.home img {
  width: 250px;
  margin-bottom: 30px;
}



.about {
  background-color: #1abc9c;
  color: white;
}

.about p {
  width: 60%;
  margin: auto;
  font-size: 18px;
  line-height: 1.6;
}



.portfolio {
  background-color: white;
}


.box {
  background-color: #1abc9c;
  height: 200px;
  border-radius: 10px;
}

.portfolio-grid{
  display: grid;
  grid-template-columns: repeat(3 , 1fr);
  gap: 25px;
}

.portfolio-item




.contact form {
  width: 40%;
  margin: auto;
}

.contact input,
.contact textarea {
  width: 100%;
  border: none;
  border-bottom: 1px solid #ccc;
  padding: 15px 0;
  margin-bottom: 25px;
  outline: none;
  font-size: 16px;
}



.contact button {
  background-color: #1abc9c;
  color: white;
  border: none;
  padding: 12px 25px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
}



.footer {
  background-color: #2c3e50;
  color: white;
  padding: 25px;
  text-align: center;
  margin: 0;
}
